# Task 1:#

01. Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
print("Hello this is my first program!")

Hello this is my first program!

02. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
get_num_list = []
for i in range (2000,3201) :
    if (i % 7  == 0) &  (i % 5 != 0) :
        get_num_list.append(i)
print ( "numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 are \n\n {}".format(get_num_list))

numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 are

 [2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

03. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [1]:
f_name = input ("Enter First Name :")
l_name = input ("Enter Last Name :")
f_name = f_name[::-1]
l_name = l_name[::-1]
print (" First and Last name in reverse order is : {fname} {lname}".format(fname = f_name, lname = l_name  ) )

Enter First Name :Chethan
Enter Last Name :Dasaiah
 First and Last name in reverse order is : nahtehC haiasaD

04. Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [3]:
from math import pi
diameter_assumed = 12
radius = diameter_assumed/2
Volume_of_Sphere = 4 / 3 * pi * radius**3
print("Volume of Sphere when diameter : {} is {}".format(diameter_assumed,Volume_of_Sphere))

Volume of Sphere when diameter : 12 is 904.7786842338603

# Task 2:

01. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [5]:
input_values = input("Enter the value with comma seperated")
list_from_input = input_values.split(',')
type(list_from_input)
print("List generated from input is {} ".format(list_from_input))

Enter the value with comma seperatedme,u,us
List generated from input is ['me', 'u', 'us']

02. Create the below pattern using nested for loop in Python.


    *
    * *
    * * *
    * * * *
    * * * * *
    * * * *
    * * *
    * *
    *

In [6]:
no_of_rows = 10
for outer in range(1,no_of_rows):
    output = ''
    increment = 0
    if outer <= (no_of_rows/2):
        for inner in range(0, outer):
            output = output +  " * "
        print(output)
    else :
        for inner in range(0, no_of_rows - outer):
            output = output +  " * "
        print(output)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

03. Write a Python program to reverse a word after accepting the input from the user.

    Sample Output: Input word: AcadGild Output: dilGdacA

In [7]:
input_value = input ("Enter a word : ")
reverse_value = input_value[::-1]
print("Reverse string of entered word {} is : {}".format(input_value,reverse_value))

Enter a word : asdlkasd
Reverse string of entered word asdlkasd is : dsakldsa

04. Write a Python Program to print the given string in the format specified in the sample output.

    WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

*Sample Output:*

<pre>
WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN, !
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
          and to secure to all its citizens  
</pre>

In [8]:
Str_in = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
li_comma_split = Str_in.split(",")
sub_split = li_comma_split[5].split()
lastline = ' '.join(sub_split[2:])
print(str(li_comma_split[0]) +", " + str(li_comma_split[1]) + ",\n\t" + str(li_comma_split[2]) 
      + ", !\n\t\t"+ str(li_comma_split[3]) +", "+ li_comma_split[4] + ", " + sub_split[0] + " " + sub_split[1]
      + "\n\t\t  " + lastline)

WE,  THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST,  SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens

                **or**

In [9]:
print ("Prining directly \n\n")
print('''WE,  THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN, !
                SOCIALIST,  SECULAR, DEMOCRATIC REPUBLIC
                  and to secure to all its citizens''')

Prining directly


WE,  THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN, !
                SOCIALIST,  SECULAR, DEMOCRATIC REPUBLIC
                  and to secure to all its citizens